<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3.0.5/dist/vue.global.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="ass-5.css" />
    <title>Assignment-5</title>
  </head>
  <body>
    <div id="app">
      <div class="count-section"># of Shuffles: {{ shuffleCount }}</div>
      <h1 class="title">
        <img class="vue-logo" src="https://vuejs.org/images/logo.png" />
        Card Shuffling
      </h1>
      <div class="speed-buttons">
        <button
          v-for="type in shuffleTypes"
          class="button is-small"
          :class="{ 'is-light': shuffleSpeed != `shuffle${type}` }"
          @click="shuffleSpeed = `shuffle${type}`"
        >
          {{ type }}
        </button>
      </div>
      <div class="main-buttons">
        <button
          v-if="isDeckShuffled"
          @click="displayInitialDeck"
          class="button is-primary is-outlined"
        >
          Reset <i class="fas fa-undo"></i>
        </button>
        <button @click="shuffleDeck" class="button is-primary">
          Shuffle <i class="fas fa-random"></i>
        </button>
      </div>
      <transition-group :name="shuffleSpeed" tag="div" class="deck">
        <div
          v-for="card in cards"
          :key="card.id"
          class="card"
          :class="suitColor[card.suit]"
        >
          <span class="card__suit card__suit--top">{{ card.suit }}</span>
          <span class="card__number">{{ card.rank }} </span>
          <span class="card__suit card__suit--bottom">{{ card.suit }}</span>
        </div>
      </transition-group>
    </div>
    <!--<div id="app">

      <div class="cardboard" style="width: 2000px">
        for the assignment create many cards using v-for -->
    <!-- <div class="v-container">
          <div class="row">
            <div class="col">
              <card v-bind:card="card" v-on:flip="flip(card)"></card>
            </div>
            <div class="col">
              <card v-bind:card="card" v-on:flip="flip(card)"></card>
            </div>
            <div class="col">
              <card v-bind:card="card" v-on:flip="flip(card)"></card>
            </div>         
            
          </div>  -->

    <!-- <h1 class="title">
        <img class="vue-logo" src="https://vuejs.org/images/logo.png" />
        Card Shuffling
      </h1>
      <div class="deck">
        <div
          v-for="card in cards"
          :key="card.id"
          class="card"
          :class="{ 'black': card.suit === '♠' || card.suit ===  '♣',
                     'red': card.suit === '♥' || card.suit ===  '♦' }"
        >
          <span class="card__suit card__suit--top">{{ card.suit }}</span>
          <span class="card__number">{{ card.rank }} </span>
          <span class="card__suit card__suit--bottom">{{ card.suit }}</span>
        </div>
      </div>
    </div> -->

    <script src="ass-5.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  </body>
</html>
